body{
    margin: 0;
}

.top-container{
    height: 100vh;
    background-image: url("pic-crop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left: 60%;
    padding-top: 10%;
    font-size: 3rem;
    font-family: 'Rowdies', cursive;
}

.container-2{
    height: 50vh;
    /* padding-left: 20%; */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.container-3{
    height: 100vh;
    background-image: url("2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* .bar{
  width: 50%;
  padding-left: 20%;
  visibility: inherit;

} */

.btech{
    font-size: 35px;
    padding-top: 8%;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
}

.container-4{
    height: 30vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.container-5{
    height: 100vh;
    background-image: url("IMG_20230202_102003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.extra{
    font-size: 35px;
    padding-top: 5%;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
}

/* .container-6{
    height: 20vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
} */

.resume{
    font-size: 35px;
    padding-top: 10%;
    padding-left: 55%;
    font-family: 'Abril Fatface', cursive;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 48px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3ce1fa;
    background-image: -webkit-linear-gradient(top, #3ce1fa, #3498db);
    background-image: -moz-linear-gradient(top, #3ce1fa, #3498db);
    background-image: -ms-linear-gradient(top, #3ce1fa, #3498db);
    background-image: -o-linear-gradient(top, #3ce1fa, #3498db);
    background-image: linear-gradient(to bottom, #3ce1fa, #3498db);
    text-decoration: none;
  }

  .c{
    font-size: 30px;
    color: #fff;
    /* padding-top: 50px; */
    font-size: 16px;
    text-align: center;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{
    background: black;
    padding: 50px;
    text-align: center;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.touch{
    color: #fff;
}

.cv{
    padding-left: 30%;
}

.bar1{
  width: 25%;
}

.skills{
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 100px;
}

.html{
  font-size: 30px;
  color: #fff;
  padding-top: 60px;
  text-align: center;
}

.css{
  font-size: 30px;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.js{
  font-size: 30px;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

/* .c{
  font-size: 30px;
  color: #fff;
  padding-top: 50px;
  text-align: center; */

/* .wd{
  margin: 0;
} */
/* .prog{
  margin: 0;
  padding-left: 400px;
} */
/* 
.anchor{
  display: inline-block;
}
.anchor a{
  text-decoration: none;
} */
